[run]
branch = True
source = .
omit = 
   manage.py 
   RingoBackend\asgi.py
   RingoBackend\wsgi.py
   chat\views.py
   chat\consumers.py
   chat\routing.py

[report]
show_missing = True
skip_covered = True